.App-header {
  background-color: #F6F3E7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@media (max-width: 1300px) {
  .recyclecan {
    display: none;
  }
  .recycleAbout {
    display: none;
  }
  .reuse {
    display: none;
  }
  .friendly {
    display: none;
  } 
}
@media (max-width: 900px) {
  .userprofile {
    display: none;
  }
  .secure {
    display: none;
  }
}